/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00109cdc;
}

.container {
    text-align: center;
    padding: 20px;    
}

.logo img {
    width: 150px; 
}

.description p {
    font-size: 18px;
    color: #0a0606;
    margin: 10px 0;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(223, 12, 12, 0.1);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-nav {
    display: flex;
}

.footer-nav a {
    margin-left: 20px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

footer p {
    margin: 0;
    color: #555;
    font-size: 14px;
}





